<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e13ea85c-b5cc-40a0-a713-16849166b126/resourcegroups/GasMonkeyAPI20250929181246ResourceGroup/providers/Microsoft.Web/sites/APIGas20251019170918</ResourceId>
    <ResourceGroup>GasMonkeyAPI20250929181246ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/e13ea85c-b5cc-40a0-a713-16849166b126/resourceGroups/GasMonkeyAPI20250929181246ResourceGroup/providers/Microsoft.ApiManagement/service/GasMonkeyAPIapi/apis/GasMonkeyAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apigas20251019170918-c5fwhfgmerf2g0c7.canadaeast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2bc4b412-b416-4768-94cc-67f87a0dce90</ProjectGuid>
    <MSDeployServiceURL>apigas20251019170918-c5fwhfgmerf2g0c7.scm.canadaeast-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>APIGas20251019170918</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>